/* This stylizes the page defaults */
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: auto;
    background-image: url(img/geometry.jpg);
}

/* This stylizes the header area */
.header {
    padding: 15px;
}
.header h1 {
    display: inline-block;
    color: white;
}

/* This stylizes the main page area */
.main {
    background-color: #f2f2f2;
    padding: 40px 0;
}

/* This stylizes the poster area and poster images */
.thumbnail {
    border: 0px;
    position: relative;
    padding: 20px;
    margin: 20px;
    border-radius: 0;
    background-color:#dddddd;
}
.thumbnail img {
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 5px;
    border: 2px dashed black;
}

/* This stylizes your "Poster X of Y" text */
.imageInfo {
	color: #959595;
	font-style: italic;
	font-size: x-small;
	float: right;
	padding-right: 5px;
}

/* This stylizes your Title and Rating Text */
.title,
.released {
    color: #444;
    margin: 0;
    font-size: 18px;
    font-weight: 800;
}
.released,
.rated {
    color: #5d5d5d;
    font-size: 14px;
    font-weight: 200;
}

/* This shapes your IMDB score area */
.score {
    background-color: #39D1B4;
    color: #fff;
    font-size: 18px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-weight: 200;
    height: 80px;
    line-height: 80px;
    text-align: center;
    width: 80px;
    position: absolute;
    top: 50px;
    right: 25px;
}

/* This contains your like and dislike buttons */
.social {
    text-align: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: relative;
    left: -40px;
    top: -20px;
}

/* This shapes your like and dislike buttons */
.likes,
.dislikes {
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    line-height: 40px;
    min-width: 70px;
    height: 40px;
    border-radius: 50%;
    margin: 0 -30px 0 40px;
    text-align: center;
    font-weight: 200;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 500ms;
}

/* This makes sure your Github Button is centered */
.footer {
    text-align: center;
    margin: 80px 0 110px;
}

/* This makes sure your Github Button text is small */
#github{
	font-size: small;
}

/* ADD YOUR LIKE AND DISLIKE HOVER/MOUSEOVER CSS CODE HERE */

h1 {
 font-family: "spumante", sans-serif;
font-weight: 400;
font-style: normal;
    text-align: center;
    font-size: 190px;
    padding-bottom: 50px;
}

/* Bridgerton Fade-In Text Starts*/

@keyframes fadeIn {
  0% {
      opacity: 0; 
  }
  100% {
      opacity: 1; 
  }
}


@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  padding: 0;
  margin: 0;
}
/* Body In Terms of Text Starts */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(img/background.jpg);
  background-repeat: no-repeat;
    margin: 0;
    background-size: 100vw 100vh;
    padding-bottom: 130px;
    background-attachment: fixed;
    padding-top: 20px;
}
/* Body In Terms of Text Ends */

h1 {
  font-family: "spumante", sans-serif;
font-weight: 400;
font-style: normal;
  max-width: 40ch;
  text-align: center;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  font-size: 130px;
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(9) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(10) {
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(11) {
  animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
/* Bridgerton Fade-In Text Ends*/